@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --h-height: 80px;
  --f-height: 220px;
  --m-footer: 60px;
  --w: 1320px;
}
@media (max-width: 1399px) {
  :root {
    --w: 1140px;
  }
}
@media (max-width: 1199px) {
  :root {
    --f-height: 270px;
    --w: 960px;
  }
}
@media (max-width: 991px) {
  :root {
    --w: 720px;
    --f-height: 360px;
  }
}
@media (max-width: 767px) {
  :root {
    --h-height: 60px;
    --w: 540px;
    --f-height: 540px;
  }
}
@media (max-width: 575px) {
  :root {
    --w: 100%;
    --f-height: 480px;
  }
}

/* mixins */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 130%;
  margin-bottom: 0px;
}

/* Form elements */
input, textarea {
  background: #fff;
  border: none;
  border-radius: 2em;
  padding: 1.2em 1.5em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: 0.3s ease;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #737373;
  font-weight: 400;
}
input::placeholder, textarea::placeholder {
  color: #737373;
  font-weight: 400;
}
@media (max-width: 575px) {
  input, textarea {
    padding: 1em 1.5em;
  }
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  transition: 0.3s ease;
  border: 1px solid #BFBFBF;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
input[type=radio]::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #BFBFBF;
  transform: translate(50%, 50%);
  transition: 0.3s ease;
}
input[type=radio]:checked {
  border: 1px solid #26C24A;
}
input[type=radio]:checked::after {
  background-color: #26C24A;
}
input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  transition: 0.3s ease;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
input[type=checkbox]::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(imgs/icons/mark-green.svg) no-repeat center;
  background-size: 100% 100%;
  opacity: 0;
  transition: 0.3s ease;
}
input[type=checkbox]:checked {
  border: 1px solid #26C24A;
}
input[type=checkbox]:checked::after {
  opacity: 1;
}

fieldset legend {
  display: block;
  float: unset;
}

.form-control {
  line-height: 3em;
  border: transparent;
  border-radius: 2em;
  font-size: 1em;
}

label {
  display: flex;
  align-items: flex-start;
}
label span {
  flex: 1;
}

.simple-select-container {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  max-width: 100%;
}
@media (max-width: 575px) {
  .simple-select-container {
    min-width: unset;
  }
}
.simple-select__control {
  border-radius: 2em !important;
  height: 100%;
  border: 1px solid #BFBFBF !important;
  background-color: #fff !important;
  transition: 0.3s ease !important;
  padding: 0.7em;
}
.simple-select__control--is-focused {
  border: 1px solid #26C24A !important;
  box-shadow: none !important;
}
.simple-select__value-container {
  padding: 0px !important;
  flex-wrap: nowrap !important;
}
.simple-select__placeholder {
  white-space: nowrap;
}
.simple-select__single-value {
  color: #000 !important;
  cursor: pointer;
}
.simple-select__indicators {
  margin-left: 0.5em;
}
.simple-select__indicator {
  color: #737373 !important;
  transition: 0.3s ease !important;
  cursor: pointer;
  padding: 0px !important;
  width: 2em;
  height: 1.35em;
}
.simple-select__indicator:hover {
  color: #26C24A !important;
}
.simple-select__indicator svg {
  width: 100% !important;
  height: 100% !important;
}
.simple-select__indicator-separator {
  height: 80%;
  margin: 0px !important;
  align-self: unset !important;
}
.simple-select__input-container {
  margin: 0px !important;
  padding: 4px 0px !important;
  cursor: text;
}
.simple-select__multi-value {
  background-color: #F2F2F2 !important;
  border-radius: 1em !important;
}
.simple-select__multi-value__remove {
  background-color: #F2F2F2;
  border-radius: 0px;
  color: #000;
  border-radius: 50% !important;
  transition: 0.3s ease;
}
.simple-select__multi-value__remove:hover {
  background-color: #d70000 !important;
  color: #fff !important;
}
.simple-select__menu {
  margin-top: 0px !important;
  top: calc(100% + 0.5em) !important;
  font-size: 0.9em;
  min-width: 100%;
  background-color: #fff !important;
  border: 1px solid #BFBFBF !important;
  border-radius: 1em !important;
  box-shadow: none !important;
  outline: none !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  z-index: 10 !important;
  overflow: hidden;
}
.simple-select__option {
  transition: 0.3s ease;
  white-space: nowrap;
}
.simple-select__option:hover, .simple-select__option:focus, .simple-select__option:active, .simple-select__option--is-focused {
  background-color: #AAEEBA !important;
  color: #000;
  cursor: pointer;
}
.simple-select__option--is-selected {
  background-color: #26C24A !important;
  color: #000;
}

.add-photo {
  isolation: isolate;
  transform: translateZ(0);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #BFBFBF;
  background-color: #fff;
  border-radius: 10px;
  font-size: 2em;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  .add-photo {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 575px) {
  .add-photo {
    width: 60px;
    height: 60px;
  }
}
.add-photo:hover {
  border: 2px dashed #26C24A;
}
.add-photo:hover svg {
  color: #26C24A;
}
.add-photo.big {
  width: 250px;
  height: 250px;
  font-size: 4em;
}
@media (max-width: 767px) {
  .add-photo.big {
    width: 200px;
    height: 200px;
  }
}
.add-photo svg {
  position: relative;
  z-index: 1;
  color: #737373;
  transition: 0.3s ease;
}
.add-photo input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 0px;
}
.add-photo img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-4, .btn-3, .btn-2, .btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 1.5em;
  text-align: center;
  transition: 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  font-weight: 500;
  border-radius: 2em;
}
@media (max-width: 575px) {
  .btn, .btn-4, .btn-3, .btn-2, .btn-1 {
    padding: 1em 1.5em;
  }
}
.btn-1 {
  color: #fff;
  background: #26C24A;
}
.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active {
  color: #fff;
  background: #FF6332;
}
.btn-2 {
  color: #0D0D0D;
  background: #fff;
}
.btn-2:hover, .btn-2:focus, .btn-2:active, .btn-2.active {
  color: #fff;
  background: #FF6332;
}
.btn-3 {
  color: #fff;
  background: #FF6332;
}
.btn-3:hover, .btn-3:focus, .btn-3:active, .btn-3.active {
  color: #fff;
  background: #26C24A;
}
.btn-4 {
  color: #0D0D0D;
  background: #F2F2F2;
}
.btn-4:hover, .btn-4:focus, .btn-4:active, .btn-4.active {
  color: #0D0D0D;
  background: #AAEEBA;
}

.form-search-1 {
  position: relative;
}
.form-search-1 input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2.4em;
  background-color: #F2F2F2;
}
.form-search-1 button {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 2.4em;
  color: #737373;
  border-radius: 50%;
  transition: 0.3s ease;
}
.form-search-1 button:hover, .form-search-1 button:focus, .form-search-1 button:active {
  color: #105622;
}
.form-search-1 button svg {
  font-size: 1.25em;
}

.form-search-2 {
  position: relative;
  max-width: 500px;
}
.form-search-2 input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 4em;
}
.form-search-2 button {
  position: absolute;
  z-index: 10;
  right: 0.5em;
  top: 0.5em;
  height: 3em;
  width: 3em;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-search-2 button svg {
  font-size: 2em;
}

/* Text styles */
h1 {
  text-align: left;
  font-size: 4em;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1em;
}
@media (max-width: 575px) {
  h1 {
    font-size: 2.5em;
  }
}
h1.inner {
  font-size: 2em;
}
@media (max-width: 575px) {
  h1.inner {
    font-size: 1.5em;
  }
}

h2 {
  text-align: left;
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
@media (max-width: 575px) {
  h2 {
    font-size: 1.75em;
  }
}

h3 {
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

h4 {
  text-align: left;
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 1em;
}

h5 {
  text-align: left;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
}

h6 {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0px;
}

.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.color-1 {
  color: #105622;
}

.color-2 {
  color: #26C24A;
}

.color-3 {
  color: #AAEEBA;
}

.color-5 {
  color: #FF6332;
}

.gray-2 {
  color: #BFBFBF;
}

.gray-3 {
  color: #737373;
}

.red {
  color: #d70000;
}

.blue {
  color: #299dfc;
}

.bg-1 {
  background-color: #F2F2F2;
}

.bg-2 {
  background-color: #AAEEBA;
}

.flex-1 {
  flex: 1;
}

.box {
  border-radius: 2em;
  border: 1px solid #F2F2F2;
  padding: 2em;
  box-shadow: 0px 2px 6px #F2F2F2;
}
@media (max-width: 575px) {
  .box {
    border-radius: 1em;
    padding: 1em;
  }
}
.box hr {
  background-color: #F2F2F2;
  height: 1px;
  width: 100%;
  margin: 1em 0px;
  border: none;
  opacity: 1;
}
.box hr.dark {
  background-color: transparent;
  border: 1px dashed #BFBFBF;
}

@media (max-width: 575px) {
  .w-xs-100 {
    width: 100%;
  }
}

.link {
  color: #105622;
  border-bottom: 1px dotted currentColor;
  transition: 0.3s ease;
}
.link:hover, .link:focus {
  color: #26C24A;
}

.icon-mini {
  background-color: #AAEEBA;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-mini svg {
  font-size: 5em;
}

.swiper {
  position: unset;
}
.swiper-button, .swiper-button-prev, .swiper-button-next {
  top: 50%;
  margin: 0px;
  background-color: #fff;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(64, 64, 64, 0.25);
}
@media (max-width: 991px) {
  .swiper-button, .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
.swiper-button::after, .swiper-button-prev::after, .swiper-button-next::after {
  color: #26C24A;
  font-size: 1.5em;
}
.swiper-button-next {
  right: 0px;
  transform: translateY(-50%) translateX(50%);
}
.swiper-button-prev {
  left: 0px;
  transform: translateY(-50%) translateX(-50%);
}
.swiper-pagination {
  bottom: 0.5em;
}
.swiper-pagination-bullet {
  opacity: 1;
  background-color: #BFBFBF;
}
.swiper-pagination-bullet-active {
  background-color: #26C24A;
}

body {
  margin: 0;
  font-family: "Noto Sans", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #0D0D0D;
  font-weight: 400;
  overflow-x: hidden;
}
@media (max-width: 1399px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 1199px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  body {
    padding-bottom: var(--m-footer);
  }
}

header {
  height: var(--h-height);
  background-color: #fff;
  position: relative;
  z-index: 1100;
}
header.h-search nav.left {
  flex: 1;
}
header.h-search nav.left .form-search-1 {
  flex: 1;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .container nav.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
header .container nav.left .logo {
  display: block;
  width: 150px;
  height: 30px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  line-height: 30px;
  margin-right: 1em;
}
@media (max-width: 1399px) {
  header .container nav.left .logo {
    width: 125px;
  }
}
@media (max-width: 1199px) {
  header .container nav.left .logo {
    width: 150px;
  }
}
@media (max-width: 991px) {
  header .container nav.left .logo {
    width: 200px;
    height: 40px;
  }
}
@media (max-width: 575px) {
  header .container nav.left .logo {
    width: 160px;
    height: 35px;
  }
}
header .container nav.left form {
  display: flex;
  width: 250px;
}
@media (max-width: 1399px) {
  header .container nav.left form {
    width: 225px;
  }
}
header .container nav.left ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}
header .container nav.left ul li:not(:first-child) {
  margin-left: 1.25em;
}
header .container nav.left ul li a {
  font-size: 1em;
  color: #737373;
  transition: 0.3s ease;
}
header .container nav.left ul li a:hover, header .container nav.left ul li a:focus, header .container nav.left ul li a:active, header .container nav.left ul li a.active {
  color: #0D0D0D;
}
header .container nav.right ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container nav.right ul li:not(:first-child) {
  margin-left: 1em;
}
header .container nav.right ul li button, header .container nav.right ul li a {
  font-size: 1.5em;
  color: #737373;
  transition: 0.3s ease;
}
@media (max-width: 1399px) {
  header .container nav.right ul li button, header .container nav.right ul li a {
    font-size: 1.5em;
  }
}
header .container nav.right ul li button:hover, header .container nav.right ul li button:focus, header .container nav.right ul li button:active, header .container nav.right ul li a:hover, header .container nav.right ul li a:focus, header .container nav.right ul li a:active {
  color: #0D0D0D;
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
}

.main {
  background-image: url(imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 600px;
}
@media (max-width: 1399px) {
  .main {
    height: 550px;
  }
}
@media (max-width: 1199px) {
  .main {
    height: 500px;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: 75% 50%;
  }
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 2em;
  }
}
@media (max-width: 575px) {
  .main {
    height: 100vw;
  }
}
.main .container {
  height: 100%;
}
.main .container h1 {
  color: #fff;
}

@media (max-width: 767px) {
  .slider-6 .swiper-slide {
    width: 220px;
  }
}
.labor {
  border-radius: 2em;
  overflow: hidden;
  position: relative;
}
.labor img {
  width: 100%;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}
.labor figcaption {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  left: 1em;
  width: calc(100% - 2em);
}

.slider-main {
  position: relative;
}
.slider-main .swiper-button-disabled {
  opacity: 0 !important;
}
.slider-main .swiper-button-next {
  top: unset;
  bottom: 3em;
  right: unset;
  left: calc(50% + var(--w) / 2);
  transform: translateX(-100%);
}
@media (max-width: 991px) {
  .slider-main .swiper-button-next {
    display: flex;
  }
}
@media (max-width: 767px) {
  .slider-main .swiper-button-next {
    top: 3em;
    bottom: unset;
  }
}
.slider-main .swiper-button-prev {
  top: unset;
  bottom: 3em;
  left: calc(50% + var(--w) / 2);
  right: unset;
  transform: translateX(-100%);
}
@media (max-width: 991px) {
  .slider-main .swiper-button-prev {
    display: flex;
  }
}
@media (max-width: 767px) {
  .slider-main .swiper-button-prev {
    top: 3em;
    bottom: unset;
  }
}

.sec-1 {
  border-radius: 2em;
  background-color: #fff2ed;
}
@media (max-width: 575px) {
  .sec-1 {
    border-radius: 1em;
  }
}
.sec-1 form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-1 form input {
  flex: 1;
}
.sec-1 form button {
  padding: 1.2em 5em;
}
@media (max-width: 991px) {
  .sec-1 form button {
    position: absolute;
    z-index: 10;
    right: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec-1 form button svg {
    font-size: 2em;
  }
}
.sec-1 .slider-auto .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
}
.sec-1 .category-mini {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.sec-1 .category-mini img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}
.sec-1 .category-mini figcaption {
  margin-top: 0.25em;
  font-size: 0.8em;
  font-weight: 500;
}
.sec-1 .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 30px;
}
@media (max-width: 991px) {
  .sec-1 .grid {
    gap: 1em 1em;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .sec-1 .grid {
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  .sec-1 .grid {
    font-size: 8px;
  }
}
.sec-1 .grid div {
  grid-row: span 1;
  grid-column: span 2;
}
.sec-1 .grid div:nth-child(5n+4), .sec-1 .grid div:nth-child(5n+5) {
  grid-column: span 3;
}
.sec-1 .grid div .category-card {
  display: block;
  filter: drop-shadow(0px 0px 0.5em rgba(115, 115, 115, 0.25));
  transition: 0.3s ease;
}
.sec-1 .grid div .category-card:hover {
  filter: drop-shadow(0px 0px 0.5em rgba(255, 99, 50, 0.5));
}
.sec-1 .grid div figure {
  background-color: #fff;
  border-radius: 2em;
  overflow: hidden;
  isolation: isolate;
  transform: translateZ(0);
  position: relative;
  height: 240px;
}
@media (max-width: 1199px) {
  .sec-1 .grid div figure {
    height: 220px;
  }
}
@media (max-width: 991px) {
  .sec-1 .grid div figure {
    height: 180px;
  }
}
@media (max-width: 767px) {
  .sec-1 .grid div figure {
    height: 150px;
  }
}
@media (max-width: 575px) {
  .sec-1 .grid div figure {
    height: 28vw;
    border-radius: 1em;
  }
}
.sec-1 .grid div figure img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right bottom;
     object-position: right bottom;
}
@media (max-width: 767px) {
  .sec-1 .grid div figure img {
    opacity: 0.75;
  }
}
.sec-1 .grid div figure figcaption {
  position: relative;
  z-index: 2;
  padding: 1.5em;
  width: 100%;
  height: 100%;
}
@media (max-width: 575px) {
  .sec-1 .grid div figure figcaption {
    padding: 1em;
  }
}

.sec-2 .box {
  background-color: #F2F2F2;
  border-radius: 2em;
  padding: 3em;
  height: 100%;
}
@media (max-width: 1199px) {
  .sec-2 .box {
    padding: 2em;
  }
}
@media (max-width: 991px) {
  .sec-2 .box {
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.sec-2 .box form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .sec-2 .box form {
    position: absolute;
    top: 1em;
    left: 5%;
    width: 90%;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
    filter: drop-shadow(0px 3px 6px rgba(115, 115, 115, 0.4));
  }
  .sec-2 .box form div, .sec-2 .box form button {
    display: none;
  }
}
.sec-2 .svg-animation {
  border-radius: 2em;
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .sec-2 .svg-animation {
    height: 350px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.sec-3 {
  background-color: #AAEEBA;
}
@media (max-width: 991px) {
  .sec-3 {
    padding: 3em 0;
    border-radius: 2em;
  }
}
@media (max-width: 575px) {
  .sec-3 {
    padding: 2em 0;
  }
}
.sec-3 .container {
  position: relative;
  z-index: 1;
}

.slider-orders {
  height: 450px;
  position: relative;
}
.slider-orders::before, .slider-orders::after {
  content: "";
  z-index: 10;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 15%;
}
@media (max-width: 991px) {
  .slider-orders::before, .slider-orders::after {
    width: 10%;
    height: 100%;
    left: unset;
    top: 0px;
  }
}
.slider-orders::before {
  top: 0px;
  background-image: linear-gradient(to bottom, rgba(170, 238, 186, 0.4), transparent);
}
@media (max-width: 991px) {
  .slider-orders::before {
    left: 0px;
    background-image: linear-gradient(to right, #AAEEBA, rgba(170, 238, 186, 0.4), transparent);
  }
}
.slider-orders::after {
  bottom: 0px;
  background-image: linear-gradient(to top, rgba(170, 238, 186, 0.4), transparent);
}
@media (max-width: 991px) {
  .slider-orders::after {
    right: 0px;
    background-image: linear-gradient(to left, #AAEEBA, rgba(170, 238, 186, 0.4), transparent);
  }
}
@media (max-width: 991px) {
  .slider-orders {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 1em;
  }
}
.slider-orders .swiper-wrapper {
  transition-timing-function: linear !important;
}
.slider-orders .swiper-slide {
  height: -moz-fit-content;
  height: fit-content;
  transition-timing-function: linear !important;
}
@media (max-width: 575px) {
  .slider-orders .swiper-slide {
    width: 160px;
  }
}

.recent-orders {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25em;
}
.recent-orders-item {
  width: 25%;
  background-color: #fff;
  border-radius: 2em;
  height: 230px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 992px) {
  .recent-orders-item:nth-child(even) {
    transform: translateY(50%);
  }
}
@media (max-width: 991px) {
  .recent-orders-item {
    width: 100%;
  }
}
.recent-orders-item .icon {
  background-color: #26C24A;
  color: #fff;
  font-size: 1.5em;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.sec-4 .thumbslides .swiper-slide {
  display: flex;
}
.sec-4 .thumbslides .swiper-slide p {
  flex: 1;
  padding: 0.5em 1em;
  color: #737373;
  font-size: 1.25em;
}
@media (max-width: 1199px) {
  .sec-4 .thumbslides .swiper-slide p {
    font-size: 1em;
  }
}
.sec-4 .thumbslides .swiper-slide .indicator {
  width: 3px;
  border-radius: 3px;
  background-color: #fff2ed;
  position: relative;
}
.sec-4 .thumbslides .swiper-slide .indicator::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  border-radius: 3px;
  background-color: #FF6332;
}
.sec-4 .thumbslides .swiper-slide-thumb-active p {
  color: #0D0D0D;
}
.sec-4 .thumbslides .swiper-slide-thumb-active .indicator::before {
  height: 100%;
  transition: 3s linear;
}
.sec-4 .thumbs-main img {
  width: 100%;
  border-radius: 4em;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1199px) {
  .sec-4 .thumbs-main img {
    height: 450px;
  }
}
.sec-4 .help-slider {
  height: 700px;
  background-color: #fff;
  box-shadow: 0 0 1em rgba(115, 115, 115, 0.15);
  border-radius: 4em;
  isolation: isolate;
  transform: translateZ(0);
}
@media (max-width: 767px) {
  .sec-4 .help-slider {
    height: 515px;
  }
}
@media (max-width: 575px) {
  .sec-4 .help-slider {
    height: 125vw;
    border-radius: 2em;
  }
}
.sec-4 .help-slider .swiper-slide {
  overflow: hidden;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0 !important;
  transition: 0.3s ease;
}
.sec-4 .help-slider .swiper-slide-visible {
  opacity: 1 !important;
}
@media (max-width: 575px) {
  .sec-4 .help-slider .swiper-slide {
    padding: 1em;
  }
  .sec-4 .help-slider .swiper-slide h4 {
    font-size: 1em;
  }
}
.sec-4 .help-slider .swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4em;
  flex: 1;
}

@media (max-width: 991px) {
  .sec-5 {
    border-bottom: 1px solid #F2F2F2;
  }
}
.sec-5 .container {
  background-color: #F2F2F2;
  border-radius: 2em;
  padding: 2em 4em;
  position: relative;
}
@media (max-width: 991px) {
  .sec-5 .container {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    text-align: center;
  }
}
.sec-5 .apps-links {
  justify-content: flex-start;
  margin-top: 2em;
}
@media (max-width: 991px) {
  .sec-5 .apps-links {
    justify-content: center;
    margin-bottom: 2em;
  }
}
.sec-5 .bg {
  position: absolute;
  right: 11%;
  bottom: 0px;
  max-height: 120%;
}
@media (max-width: 1199px) {
  .sec-5 .bg {
    max-height: 110%;
  }
}
@media (max-width: 991px) {
  .sec-5 .bg {
    position: unset;
    right: unset;
    bottom: unset;
    max-height: auto;
    max-width: 100%;
  }
}

.sec-6 .box {
  background-color: #AAEEBA;
  padding: 1em 1.5em;
  border-radius: 2em;
}

.services-grid {
  margin-top: 2em;
}
.services-grid a {
  display: flex;
  align-items: center;
  font-size: 1em;
}
.services-grid a svg {
  font-size: 2em;
  margin-right: 0.5em;
}

.nav-2 ul {
  list-style: none;
  padding-left: 0px;
}
.nav-2 ul a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #0D0D0D;
  transition: 0.3s ease;
}
.nav-2 ul a:hover, .nav-2 ul a:focus {
  color: #FF6332;
}
.nav-2 ul a:active, .nav-2 ul a.active {
  color: #26C24A;
}
.nav-2 ul a svg {
  font-size: 1.3em;
  margin-right: 0.5em;
}

.sec-7 ul {
  list-style: none;
  padding-left: 0px;
}
.sec-7 ul.categories li:not(:first-child) {
  margin-top: 1em;
}
.sec-7 ul.categories a, .sec-7 ul.categories button {
  color: #0D0D0D;
  font-weight: 500;
  transition: 0.3s ease;
  display: block;
  width: 100%;
  background-color: #F2F2F2;
  text-align: left;
  padding: 0.5em 0.5em 0.5em 0.75em;
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .sec-7 ul.categories a, .sec-7 ul.categories button {
    font-size: 1.25em;
    padding: 1em 1em;
  }
}
@media (max-width: 575px) {
  .sec-7 ul.categories a, .sec-7 ul.categories button {
    font-size: 1em;
  }
}
.sec-7 ul.categories a:hover, .sec-7 ul.categories a:focus, .sec-7 ul.categories a:active, .sec-7 ul.categories a.active, .sec-7 ul.categories button:hover, .sec-7 ul.categories button:focus, .sec-7 ul.categories button:active, .sec-7 ul.categories button.active {
  color: #105622;
}
.sec-7 ul.categories a span, .sec-7 ul.categories button span {
  flex: 1;
  line-height: 100%;
}
.sec-7 ul.categories a svg, .sec-7 ul.categories button svg {
  opacity: 0;
}
@media (max-width: 991px) {
  .sec-7 ul.categories a svg, .sec-7 ul.categories button svg {
    opacity: 1;
  }
}
.sec-7 ul.categories a.active svg, .sec-7 ul.categories button.active svg {
  opacity: 1;
}
.sec-7 ul.subcategories a, .sec-7 ul.subcategories button {
  color: #0D0D0D;
  font-weight: 400;
  transition: 0.3s ease;
}
.sec-7 ul.subcategories a:hover, .sec-7 ul.subcategories a:focus, .sec-7 ul.subcategories a:active, .sec-7 ul.subcategories a.active, .sec-7 ul.subcategories button:hover, .sec-7 ul.subcategories button:focus, .sec-7 ul.subcategories button:active, .sec-7 ul.subcategories button.active {
  color: #FF6332;
}
.sec-7 ul.subcategories li:nth-child(1) a {
  font-size: 1.2em;
  font-weight: 600;
}
.sec-7 ul.subcategories li:nth-child(2) a {
  font-size: 1.2em;
  font-weight: 600;
}
.sec-7 ul.subcategories li:nth-child(3) a {
  font-size: 1.2em;
  font-weight: 600;
}
.sec-7 ul.subcategories li:nth-child(4) a {
  font-size: 1.2em;
  font-weight: 600;
}
.sec-7 ul.subcategories li:nth-child(5) a {
  font-size: 1.2em;
  font-weight: 600;
}
.sec-7 ul.subcategories li:nth-child(6) a {
  font-size: 1.2em;
  font-weight: 600;
}
.sec-7 .order {
  border: 1px solid #F2F2F2;
}
.sec-7 .order .info-1 {
  list-style: none;
  padding-left: 0px;
}
.sec-7 .order .info-1 li {
  display: inline;
}
.sec-7 .order .info-1 li:not(:first-child) {
  margin-left: 1em;
}
.sec-7 .order .info-1 li:not(:first-child)::before {
  content: "•";
  margin-right: 1em;
}
.sec-7 .order .info-2 {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-7 .order .info-2 li:not(:first-child) {
  margin-left: 1em;
}
.sec-7 .orders-list {
  list-style: none;
  padding-left: 0px;
}
.sec-7 .orders-list > li:not(:first-child) {
  margin-top: 2em;
}

.service-offer {
  border-radius: 2em;
  border: 1px solid #F2F2F2;
  padding: 2em;
  box-shadow: 0px 2px 6px #F2F2F2;
  border-radius: 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  gap: 1em 1em;
  margin-bottom: 2em;
}
@media (max-width: 575px) {
  .service-offer {
    border-radius: 1em;
    padding: 1em;
  }
}
.service-offer hr {
  background-color: #F2F2F2;
  height: 1px;
  width: 100%;
  margin: 1em 0px;
  border: none;
  opacity: 1;
}
.service-offer hr.dark {
  background-color: transparent;
  border: 1px dashed #BFBFBF;
}
@media (max-width: 767px) {
  .service-offer {
    grid-template-columns: 3fr 7fr;
    margin-bottom: 1.5em;
  }
}
.service-offer .photo {
  grid-column: 1/2;
  grid-row: 1/3;
}
@media (max-width: 575px) {
  .service-offer .photo {
    grid-row: 1/2;
  }
}
.service-offer .photo img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
@media (max-width: 1399px) {
  .service-offer .photo img {
    height: 100px;
  }
}
@media (max-width: 1199px) {
  .service-offer .photo img {
    height: 120px;
  }
}
@media (max-width: 575px) {
  .service-offer .photo img {
    height: 20vw;
  }
}
.service-offer .rating {
  grid-column: 1/2;
  grid-row: 3/4;
}
@media (max-width: 767px) {
  .service-offer .rating {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.service-offer .name {
  grid-column: 2/3;
  grid-row: 1/2;
}
.service-offer .text {
  grid-column: 2/3;
  grid-row: 2/3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 2.4em;
}
@media (max-width: 575px) {
  .service-offer .text {
    display: none;
  }
}
.service-offer .imgs {
  grid-column: 2/3;
  grid-row: span 1;
  min-width: 0;
  position: relative;
}
@media (max-width: 767px) {
  .service-offer .imgs {
    display: none;
  }
}
.service-offer .imgs .slider {
  max-width: 100%;
  width: 100%;
}
.service-offer .imgs .slider .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
}
.service-offer .imgs .slider .swiper-button-prev, .service-offer .imgs .slider .swiper-button-next {
  font-size: 0.75em;
}
.service-offer .imgs img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.service-offer .price-list {
  grid-column: 2/3;
  grid-row: span 1;
}
@media (max-width: 767px) {
  .service-offer .price-list {
    grid-column: 1/3;
  }
}
.service-offer .price-list ul {
  list-style: none;
  padding-left: 0px;
  font-size: 0.9em;
}
.service-offer .price-list ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(16, 86, 34, 0.1);
  padding: 0.25em 0.5em;
  font-weight: 500;
  border-radius: 1em;
}
.service-offer .price-list ul li:not(:first-child) {
  margin-top: 0.25em;
}
.service-offer .btns {
  grid-column: 2/3;
  grid-row: span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.9em;
}
.service-offer .btns button {
  padding: 1em;
}
@media (max-width: 767px) {
  .service-offer .btns {
    grid-column: 1/3;
  }
}

.filter {
  background-color: rgba(16, 86, 34, 0.1);
  padding: 1em;
  border-radius: 1em;
  font-size: 0.9em;
}
.filter fieldset {
  margin-bottom: 1em;
}
.filter fieldset a, .filter fieldset button {
  color: #105622;
  transition: 0.3s ease;
}
.filter fieldset a:hover, .filter fieldset a:focus, .filter fieldset a:active, .filter fieldset button:hover, .filter fieldset button:focus, .filter fieldset button:active {
  color: #26C24A;
}
.filter fieldset legend {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.filter fieldset input:not([type=radio]):not([type=checkbox]) {
  padding: 0.75em 1em;
}
.filter fieldset ul {
  list-style: none;
  padding-left: 0px;
}
.filter fieldset ul li:not(:first-child) {
  margin-top: 0.5em;
}

.apps-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 0px;
}
@media (max-width: 1199px) {
  .apps-links {
    justify-content: flex-start;
  }
}
.apps-links li:not(:first-child) {
  margin-left: 1em;
}
@media (max-width: 575px) {
  .apps-links li:not(:first-child) {
    margin-left: 0.25em;
  }
}
.apps-links li img {
  max-height: 50px;
}
@media (max-width: 575px) {
  .apps-links li img {
    max-height: 40px;
  }
}

/* Account */
.account-nav ul {
  list-style: none;
  padding-left: 0px;
}
.account-nav ul li {
  margin-bottom: 1em;
}
.account-nav ul li a {
  font-weight: 600;
  color: #737373;
  transition: 0.3s ease;
}
.account-nav ul li a:hover, .account-nav ul li a:focus, .account-nav ul li a.active {
  color: #0D0D0D;
}

.sw-mini .swiper-button-prev {
  width: 2.5em;
  height: 2.5em;
  transform: translateY(-50%) translateX(-50%);
}
.sw-mini .swiper-button-next {
  width: 2.5em;
  height: 2.5em;
  transform: translateY(-50%) translateX(50%);
}
@media (max-width: 991px) {
  .sw-mini {
    padding-bottom: 1em;
  }
}
@media (max-width: 767px) {
  .sw-mini .btn-4 {
    width: 100%;
  }
}

.form-about-info {
  background-color: #F2F2F2;
}
@media (max-width: 575px) {
  .form-about-info {
    font-size: 0.9em;
  }
}
.form-about-info fieldset:not(:last-child) {
  border-bottom: 2px dashed #BFBFBF;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.form-about-info fieldset legend {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
}
.form-about-info fieldset legend.mini {
  font-size: 1.1em;
}

.servises-list {
  list-style: none;
  padding-left: 0px;
}
@media (max-width: 575px) {
  .servises-list {
    font-size: 0.9em;
  }
}
.servises-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servises-list li:not(:last-child) {
  border-bottom: 2px dashed #F2F2F2;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
.servises-list li button {
  padding: 0.75em 1em;
}
@media (max-width: 575px) {
  .servises-list li button {
    font-size: 0.8em;
    padding: 0.75em;
  }
}

.tariff {
  text-align: center;
}
.tariff h3, .tariff h5 {
  text-align: center;
}
.tariff hr {
  background-color: #FF6332;
  width: 80%;
  margin: 1em auto;
}

.task {
  border-radius: 2em;
  border: 1px solid #F2F2F2;
  padding: 2em;
  box-shadow: 0px 2px 6px #F2F2F2;
  margin-bottom: 2em;
}
@media (max-width: 575px) {
  .task {
    border-radius: 1em;
    padding: 1em;
  }
}
.task hr {
  background-color: #F2F2F2;
  height: 1px;
  width: 100%;
  margin: 1em 0px;
  border: none;
  opacity: 1;
}
.task hr.dark {
  background-color: transparent;
  border: 1px dashed #BFBFBF;
}
.task .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.task .info {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1em;
  color: #737373;
  font-size: 0.9em;
}
.task .info li:not(:first-child) {
  margin-left: 1em;
}
.task .info li:not(:first-child)::before {
  content: "⦁";
  margin-right: 1em;
}
.task .text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 2.4em;
  margin-bottom: 1em;
}
.task .work {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 575px) {
  .task .work {
    display: block;
  }
}
.task .work li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 0.5em;
}
.task .user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1em;
}
.task .user img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .task .user img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 575px) {
  .task .user img {
    width: 30px;
    height: 30px;
  }
}
.task .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

/* Account END */
footer {
  height: var(--f-height);
  background-color: #0D0D0D;
  color: #BFBFBF;
  font-size: 0.9em;
}
footer a, footer button {
  color: #BFBFBF;
  transition: 0.3s ease;
}
footer a:hover, footer button:hover {
  color: #F2F2F2;
}
footer .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
footer .container .menu {
  display: flex;
}
@media (max-width: 767px) {
  footer .container .menu {
    display: block;
  }
}
footer .container .menu ul {
  list-style: none;
  padding-left: 0px;
}
footer .container .menu ul:not(:first-child) {
  margin-left: 3em;
}
@media (max-width: 767px) {
  footer .container .menu ul:not(:first-child) {
    margin-left: 0;
    margin-top: 0.75em;
  }
}
footer .container .menu ul li:not(:first-child) {
  margin-top: 0.75em;
}
footer .container hr {
  background-color: #BFBFBF;
  height: 1px;
  width: 100%;
  margin: 1.5em 0px;
  border: none;
  opacity: 1;
}
footer .container .bottom {
  display: flex;
  align-items: center;
}
footer .container .bottom > *:not(:first-child) {
  margin-left: 1.5em;
}
@media (max-width: 991px) {
  footer .container .bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .container .bottom > *:not(:first-child) {
    margin-top: 1em;
    margin-left: 0em;
  }
}
footer.mobile {
  position: fixed;
  z-index: 1100;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: var(--m-footer);
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(13, 35, 67, 0.2);
}
footer.mobile nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.mobile nav ul li {
  width: 25%;
}
footer.mobile nav ul li a, footer.mobile nav ul li button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #737373;
}
footer.mobile nav ul li a.active, footer.mobile nav ul li button.active {
  color: #FF6332;
}
footer.mobile nav ul li a svg, footer.mobile nav ul li button svg {
  font-size: 1.75em;
}
footer.mobile nav ul li a span, footer.mobile nav ul li button span {
  font-size: 0.8em;
  margin-top: 0.35em;
}

nav.mobile-menu ul {
  list-style: none;
  padding-left: 0px;
}
nav.mobile-menu ul li:not(:first-child) {
  margin-top: 0.75em;
}
nav.mobile-menu ul li a, nav.mobile-menu ul li button {
  font-size: 1.2em;
  font-weight: 500;
}

.offcanvas.offcanvas-top {
  height: -moz-fit-content;
  height: fit-content;
}
.offcanvas.offcanvas-top .offcanvas-body {
  padding: var(--h-height) 0 2em 0;
}
.offcanvas.offcanvas-top .offcanvas-body .form-search-1 input {
  height: 4em;
}
.offcanvas.offcanvas-top .offcanvas-body .form-search-1 button {
  width: 4em;
}
.offcanvas.offcanvas-top .offcanvas-body .form-search-1 button svg {
  font-size: 1.75em;
}
.offcanvas-end.show {
  padding-top: var(--h-height);
}
.offcanvas-end.show .close {
  position: absolute;
  top: calc(var(--h-height) + 1em);
  right: 1em;
  font-size: 1.5em;
  z-index: 10;
}
.offcanvas-bottom.show {
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: var(--m-footer);
}
.offcanvas-bottom.show .close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.5em;
  z-index: 10;
}
.offcanvas-bottom.show hr {
  background-color: #FF6332;
  opacity: 1;
  height: 1px;
  width: 100%;
  border: none;
  margin: 1em 0;
}/*# sourceMappingURL=style.css.map */