@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// "homepage": "https://ngf93.github.io/serve",


:root {
    --h-height: 80px;
    --f-height: 220px;
    --m-footer: 60px;
    --w: 1320px;
    @media (max-width: 1399px){
        --w: 1140px;
    }
    @media (max-width: 1199px){
        --f-height: 270px;
        --w: 960px;
    }
    @media (max-width: 991px){
        --w: 720px;
        --f-height: 360px;
    }
    @media (max-width: 767px){
        --h-height: 60px;
        --w: 540px;
        --f-height: 540px;
    }
    @media (max-width: 575px){
        --w: 100%;
        --f-height: 510px;
    }
}

$main-font: "Noto Sans";
$color-1: #105622;
$color-2: #26C24A;
$color-3: #AAEEBA;
$color-4: #fff2ed;
$color-5: #FF6332;
$gray-1: #F2F2F2;
$gray-2: #BFBFBF;
$gray-3: #737373;
$gray-4: #404040;
$gray-5: #0D0D0D;
$blue: #299dfc;
$red: #d70000;
$transition: .3s ease;
$radius: 2em;
$radius-sm: 1em;

/* mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}
@mixin safariFix {
    isolation: isolate;
    transform: translateZ(0);
}
@mixin absBG {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
    line-height: 130%;
    margin-bottom: 0px;
}

/* Form elements */
input, textarea {
    background: #fff;
    border: none;
    border-radius: $radius;
    padding: 1.2em 1.5em;
    width: 100%;
    line-height: normal;
    outline: none;
    display: block;
    transition: $transition;
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: $gray-3;
        font-weight: 400;
    }
    &::placeholder {
        color: $gray-3;
        font-weight: 400;
    }
    @media (max-width: 575px) {
        padding: 1em 1.5em;
    }
}
input {
    &[type='radio'] {
        @include no-appearance();
        cursor: pointer;
        width: 1.25em;
        height: 1.25em;
        background-color: #fff;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        transition: $transition;
        border: 1px solid $gray-2;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 50%;
            height: 50%;
            border-radius: 50%;
            background-color: $gray-2;
            transform: translate(50%, 50%);
            transition: $transition;
        }
        &:checked {
            border: 1px solid $color-2;
            &::after {
                background-color: $color-2;
            }
        }
    }
    &[type='checkbox'] {
        @include no-appearance();
        cursor: pointer;
        width: 1.25em;
        height: 1.25em;
        background-color: #fff;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        transition: $transition;
        border: 1px solid $gray-2;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: url(imgs/icons/mark-green.svg) no-repeat center;
            background-size: 100% 100%;
            opacity: 0;
            transition: $transition;
        }
        &:checked {
            border: 1px solid $color-2;
            &::after {
                opacity: 1;
            }
        }
    }
}
fieldset {
    legend{
        display: block;
        float: unset;
    }
}

.form-control {
    line-height: 3em;
    border: transparent;
    border-radius: $radius;
    font-size: 1em;
}
label {
    display: flex;
    align-items: flex-start;
    span {flex: 1;}
}

.simple-select {
    &-container {
        width: fit-content;
        min-width: 150px;
        max-width: 100%;
        @media (max-width: 575px) {
            min-width: unset;
        }
    }
    &__control {
        border-radius: $radius !important;
        height: 100%;
        border: 1px solid $gray-2 !important;
        background-color: #fff !important;
        transition: $transition !important;
        padding: .7em;
        &--is-focused {
            border: 1px solid $color-2 !important;
            box-shadow: none !important;
        }
    }
    &__value-container {
        padding: 0px !important;
        flex-wrap: nowrap !important;
    }
    &__placeholder {
        white-space: nowrap;
    }
    &__single-value {
        color: #000 !important;
        cursor: pointer;
    }
    &__indicators {
        margin-left: .5em;
    }
    &__indicator {
        color: $gray-3 !important;
        transition: $transition !important;
        cursor: pointer;
        padding: 0px !important;
        width: 2em;
        height: 1.35em;
        &:hover {
            color: $color-2 !important;
        }
        svg {
            width: 100% !important;
            height: 100% !important;
        }
        &-separator {
            height: 80%;
            margin: 0px !important;
            align-self: unset !important;
        }
    }
    &__input-container {
        margin: 0px !important;
        padding: 4px 0px !important;
        cursor: text;
    }
    &__multi-value {
        background-color: $gray-1 !important;
        border-radius: 1em !important;
        &__remove {
            background-color: $gray-1;
            border-radius: 0px;
            color: #000;
            border-radius: 50% !important;
            transition: $transition;
            &:hover {
                background-color: $red !important;
                color: #fff !important;
            }
        }
    }
    &__menu {
        margin-top: 0px !important;
        top: calc(100% + .5em) !important;
        font-size: 0.9em;
        min-width: 100%;
        background-color: #fff !important;
        border: 1px solid $gray-2 !important;
        border-radius: $radius*.5 !important;
        box-shadow: none !important;
        outline: none !important;
        width: fit-content !important;
        z-index: 10 !important;
        overflow: hidden;
    }
    &__option {
        transition: $transition;
        white-space: nowrap;
        &:hover,
        &:focus,
        &:active,
        &--is-focused {
            background-color: $color-3 !important;
            color: #000;
            cursor: pointer;
        }
        &--is-selected {
            background-color: $color-2 !important;
            color: #000;
        }
    }
}

.add-photo {
    @include safariFix();
    @include flex-center();
    border: 2px dashed $gray-2;
    background-color: #fff;
    border-radius: 10px;
    font-size: 2em;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: $transition;
    @media (max-width: 767px) {
        width: 80px;
        height: 80px;
    }
    @media (max-width: 575px) {
        width: 60px;
        height: 60px;
    }
    &:hover {
        border: 2px dashed $color-2;
        svg {color: $color-2;}
    }
    &.big {
        width: 250px;
        height: 250px;
        font-size: 4em;
        @media (max-width: 767px) {
            width: 200px;
            height: 200px;
        }
    }
    svg {
        position: relative;
        z-index: 1;
        color: $gray-3;
        transition: $transition;
    }
    input {
        @include no-appearance();
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 0px;
    }
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 5;
        object-fit: contain;
    }
}

button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
}
.btn {
    @include flex-center;
    padding: 1.2em 1.5em;
    text-align: center;
    transition: $transition;
    width: fit-content;
    font-size: 1em;
    font-weight: 500;
    border-radius: $radius;
    @media (max-width: 575px) {
        padding: 1em 1.5em;
    }
    &-1 {
        @extend .btn;
        color: #fff;
        background: $color-2;
        &:hover, &:focus, &:active, &.active {
            color: #fff;
            background: $color-5;
        }
    }
    &-2 {
        @extend .btn;
        color: $gray-5;
        background: #fff;
        &:hover, &:focus, &:active, &.active {
            color: #fff;
            background: $color-5;
        }
    }
    &-3 {
        @extend .btn;
        color: #fff;
        background: $color-5;
        &:hover, &:focus, &:active, &.active {
            color: #fff;
            background: $color-2;
        }
    }
    &-4 {
        @extend .btn;
        color: $gray-5;
        background: $gray-1;
        &:hover, &:focus, &:active, &.active {
            color: $gray-5;
            background: $color-3;
        }
    }
}

.form-search-1 {
    position: relative;
    input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 2.4em;
        background-color: $gray-1;
    }
    button {
        position: absolute;
        z-index: 10;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 2.4em;
        color: $gray-3;
        border-radius: 50%;
        transition: $transition;
        &:hover, &:focus, &:active {
            color: $color-1;
        }
        svg {font-size: 1.25em;}
    }
}
.form-search-2 {
    position: relative;
    max-width: 500px;
    input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 4em;
    }
    button {
        position: absolute;
        z-index: 10;
        right: .5em;
        top: .5em;
        height: 3em;
        width: 3em;
        padding: 0px;
        @include flex-center();
        svg {
            font-size: 2em;
        }
    }
}

/* Text styles */
h1 {
    text-align: left;
    font-size: 4em;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1em;
    @media (max-width: 575px){
        font-size: 2.5em;
    }
    &.inner {
        font-size: 2em;
        @media (max-width: 575px){
            font-size: 1.5em;
        }
    }
}
h2 {
    text-align: left;
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: .5em;
    @media (max-width: 575px){
        font-size: 1.75em;
    }
}
h3 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}
h4 {
    text-align: left;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1em;
}
h5 {
    text-align: left;
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1em;
}
h6 {
    font-size: .9em;
    font-weight: 600;
    margin-bottom: 0px;
}

.fs {
    &-08 {font-size: 0.8em;}
    &-09 {font-size: 0.9em;}
    &-10 {font-size: 1em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}

.color-1 {color: $color-1;}
.color-2 {color: $color-2;}
.color-3 {color: $color-3;}
.color-5 {color: $color-5;}
.gray-2 {color: $gray-2;}
.gray-3 {color: $gray-3;}
.red {color: $red;}
.blue {color: $blue;}

.bg-1 {background-color: $gray-1;}
.bg-2 {background-color: $color-3;}

.flex-1 {
    flex: 1;
}
.box {
    border-radius: $radius;
    border: 1px solid $gray-1;
    padding: 2em;
    box-shadow: 0px 2px 6px $gray-1;
    @media (max-width: 575px){
        border-radius: $radius-sm;
        padding: 1em;
    }
    hr {
        background-color: $gray-1;
        height: 1px;
        width: 100%;
        margin: 1em 0px;
        border: none;
        opacity: 1;
        &.dark {
            background-color: transparent;
            border: 1px dashed $gray-2;
        }
    }
}
.w-xs-100 {
    @media (max-width: 575px) {
        width: 100%;
    }
}

.link {
    color: $color-1;
    border-bottom: 1px dotted currentColor;
    transition: $transition;
    &:hover, &:focus {
        color: $color-2;
    }
}

.icon-mini {
    background-color: $color-3;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    color: #fff;
    @include flex-center();
    svg {
        font-size: 5em;
    }
}

.swiper {
    position: unset;
    &-button {
        top: 50%;
        margin: 0px;
        transform: translateY(-50%);
        background-color: #fff;
        width: 3em;
        height: 3em;
        @include flex-center();
        border-radius: 50%;
        box-shadow: 0px 2px 6px rgba($gray-4, .25);
        @media (max-width: 991px){
            display: none;
        }
        &::after {
            color: $color-2;
            font-size: 1.5em;
        }
        &-next {
            @extend .swiper-button;
            right: 0px;
            transform: translateX(50%);
        }
        &-prev {
            @extend .swiper-button;
            left: 0px;
            transform: translateX(-50%);
        }
    }
    &-pagination {
        bottom: .5em;
        &-bullet {
            opacity: 1;
            background-color: $gray-2;
            &-active {
                background-color: $color-2;
            }
        }
    }
}


body {
    margin: 0;
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: $gray-5;
    font-weight: 400;
    overflow-x: hidden;
    @media (max-width: 1399px){
        font-size: 15px;
    }
    @media (max-width: 1199px){
        font-size: 14px;
    }
    @media (max-width: 991px){
        padding-bottom: var(--m-footer);
    }
    // @media (max-width: 575px){
    //     font-size: 12px;
    // }
}

header {
    height: var(--h-height);
    background-color: #fff;
    position: relative;
    z-index: 1100;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        nav.left {
            @include flex-center();
            .logo {
                display: block;
                width: 150px;
                height: 30px;
                object-fit: scale-down;
                line-height: 30px;
                margin-right: 1em;
                @media (max-width: 1399px){
                    width: 125px;
                }
                @media (max-width: 1199px){
                    width: 150px;
                }
                @media (max-width: 991px){
                    width: 200px;
                    height: 40px;
                }
                @media (max-width: 575px){
                    width: 160px;
                    height: 35px;
                }
            }
            form {
                display: flex;
                width: 250px;
                @media (max-width: 1399px){
                    width: 225px;
                }
            }
            ul {
                list-style: none;
                padding-left: 0px;
                @include flex-center();
                margin-left: 2em;
                li {
                    &:not(:first-child){margin-left: 1.25em;}
                    a {
                        font-size: 1em;
                        color: $gray-3;
                        transition: $transition;
                        &:hover, &:focus, &:active, &.active {
                            color: $gray-5;
                        }
                    }
                }
            }
            
        }
        nav.right {
            ul {
                list-style: none;
                padding-left: 0px;
                @include flex-center();
                li {
                    &:not(:first-child){margin-left: 1em;}
                    button, a {
                        font-size: 1.5em;
                        color: $gray-3;
                        transition: $transition;
                        @media (max-width: 1399px){
                            font-size: 1.5em;
                        }
                        &:hover, &:focus, &:active {
                            color: $gray-5;
                        }
                    }
                }
            }
        }
    }
}

main {
    min-height: calc(100vh - var(--h-height) - var(--f-height));
}

.main {
    background-image: url(imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 600px;
    @media (max-width: 1399px){
        height: 550px;
    }
    @media (max-width: 1199px){
        height: 500px;
    }
    @media (max-width: 991px){
        background-position: 75% 50%;
    }
    @media (max-width: 767px){
        padding-bottom: 2em;
    }
    @media (max-width: 575px){
        height: 100vw;
    }
    .container {
        height: 100%;
        h1 {color: #fff;}
    }
}

@media (max-width: 767px){
    .slider-6 {
        .swiper-slide {
            width: 220px;
        }
    }
}
.labor {
    border-radius: $radius;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    figcaption {
        position: absolute;
        z-index: 2;
        bottom: 1em;
        left: 1em;
        width: calc(100% - 2em);
    }
}

.slider-main {
    position: relative;
    .swiper-button-disabled {
        opacity: 0 !important;
    }
    .swiper-button-next {
        top: unset;
        bottom: 3em;
        right: unset;
        left: calc(50% + var(--w)/2);
        transform: translateX(-100%);
        @media (max-width: 991px){display: flex;}
        @media (max-width: 767px){
            top: 3em;
            bottom: unset;
        }
    }
    .swiper-button-prev {
        top: unset;
        bottom: 3em;
        left: calc(50% + var(--w)/2);
        right: unset;
        transform: translateX(-100%);
        @media (max-width: 991px){display: flex;}
        @media (max-width: 767px){
            top: 3em;
            bottom: unset;
        }
    }
}
.sec-1 {
    border-radius: $radius;
    background-color: $color-4;
    @media (max-width: 575px){
        border-radius: $radius*0.5;
    }
    form {
        position: relative;
        @include flex-center();
        input {
            flex: 1;
        }
        button {
            padding: 1.2em 5em;
            @media (max-width: 991px){
                position: absolute;
                z-index: 10;
                right: 0.5em;
                top: 0.5em;
                height: 3em;
                width: 3em;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    font-size: 2em;
                }
            }
        }
    }
    .slider-auto {
        .swiper-slide {
            width: fit-content;
        }
    }
    .category-mini {
        text-align: center;
        @include flex-center();
        flex-direction: column;
        position: relative;
        img {
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
        }
        figcaption {
            margin-top: .25em;
            font-size: .8em;
            font-weight: 500;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 30px;
        @media (max-width: 991px){
            gap: 1em 1em;
            font-size: 12px;
        }
        @media (max-width: 767px){
            font-size: 10px;
        }
        @media (max-width: 575px){
            font-size: 8px;
        }
        div {
            grid-row: span 1;
            grid-column: span 2;
            &:nth-child(5n+4), &:nth-child(5n+5){
                grid-column: span 3;
            }
            .category-card {
                display: block;
                filter: drop-shadow(0px 0px .5em rgba($color: $gray-3, $alpha: .25));
                transition: $transition;
                &:hover {
                    filter: drop-shadow(0px 0px .5em rgba($color: $color-5, $alpha: .5));
                }
            }
            figure {
                background-color: #fff;
                border-radius: $radius;
                overflow: hidden;
                @include safariFix();
                position: relative;
                height: 240px;
                @media (max-width: 1199px){
                    height: 220px;
                }
                @media (max-width: 991px){
                    height: 180px;
                }
                @media (max-width: 767px){
                    height: 150px;
                }
                @media (max-width: 575px){
                    height: 28vw;
                    border-radius: $radius*0.5;
                }
                img {
                    @include absBG();
                    object-fit: contain;
                    object-position: right bottom;
                    @media (max-width: 767px){
                        opacity: .75;
                    }
                }
                figcaption {
                    position: relative;
                    z-index: 2;
                    padding: 1.5em;
                    width: 100%;
                    height: 100%;
                    @media (max-width: 575px){
                        padding: 1em;
                    }
                }
            }
        }
    }
}


.sec-2 {
    .box {
        background-color: $gray-1;
        border-radius: $radius;
        padding: 3em;
        height: 100%;
        @media (max-width: 1199px){
            padding: 2em;
        }
        @media (max-width: 991px){
            background-color: transparent;
            border-radius: 0px;
            padding: 0px;
            height: fit-content;
        }
        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 991px){
                position: absolute;
                top: 1em;
                left: 5%;
                width: 90%;
                height: fit-content;
                z-index: 10;
                filter: drop-shadow(0px 3px 6px rgba($gray-3, .4));
                div, button {
                    display: none;
                }
            }
        }
    }
    .svg-animation {
        border-radius: $radius;
        width: 100%; 
        height: 100%; 
        transform: translate3d(0px, 0px, 0px);
        position: relative;
        z-index: 1;
        @media (max-width: 767px){
            height: 350px; 
            width: 100%; 
            object-fit: cover;
        }
    }
}

.sec-3 {
    background-color: $color-3;
    @media (max-width: 991px){
        padding: 3em 0;
        border-radius: $radius;
    }
    @media (max-width: 575px){
        padding: 2em 0;
    }
    .container {
        position: relative;
        z-index: 1;
    }
}
.slider-orders {
    height: 450px;
    position: relative;
    &::before, &::after {
        content: '';
        z-index: 10;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 15%;
        @media (max-width: 991px){
            width: 10%;
            height: 100%;
            left: unset;
            top: 0px;
        }
    }
    &::before {
        top: 0px;
        background-image: linear-gradient(to bottom, rgba($color-3, .4), transparent);
        @media (max-width: 991px){
            left: 0px;
            background-image: linear-gradient(to right, $color-3, rgba($color-3, .4), transparent);
        }
    }
    &::after {
        bottom: 0px;
        background-image: linear-gradient(to top, rgba($color-3, .4), transparent);
        @media (max-width: 991px){
            right: 0px;
            background-image: linear-gradient(to left, $color-3, rgba($color-3, .4), transparent);
        }
    }
    @media (max-width: 991px){
        height: fit-content;
        margin-top: 1em;
    }
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }
    .swiper-slide {
        height: fit-content;
        transition-timing-function: linear !important;
        @media (max-width: 575px){
            width: 160px;
        }
    }
}
.recent-orders {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25em;
    &-item {
        width: 25%;
        background-color: #fff;
        border-radius: $radius;
        height: 230px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        @media (min-width: 992px){
            &:nth-child(even){
                transform: translateY(50%);
            }
        }
        @media (max-width: 991px){
            width: 100%;
        }
        .icon {
            background-color: $color-2;
            color: #fff;
            font-size: 1.5em;
            height: 2em;
            width: 2em;
            @include flex-center();
            border-radius: 50%;
            margin-bottom: .5em;
        }
    }
}

.sec-4 {
    .thumbslides {
        .swiper-slide {
            display: flex;
            p {
                flex: 1;
                padding: .5em 1em;
                color: $gray-3;
                font-size: 1.25em;
                @media (max-width: 1199px){
                    font-size: 1em;
                }
            }
            .indicator {
                width: 3px;
                border-radius: 3px;
                background-color: $color-4;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 0%;
                    border-radius: 3px;
                    background-color: $color-5;
                }
            }
            &-thumb-active {
                p {color: $gray-5;}
                .indicator {
                    &::before {
                        height: 100%;
                        transition: 3s linear;
                    }
                }
            }
        }
    }
    .thumbs-main {
        img {
            width: 100%;
            border-radius: $radius*2;
            height: 500px;
            object-fit: cover;
            @media (max-width: 1199px){
                height: 450px;
            }
        }
    }
    .help-slider {
        height: 700px;
        background-color: #fff;
        box-shadow: 0 0 1em rgba($gray-3, .15);
        border-radius: $radius*2;
        @include safariFix();
        @media (max-width: 767px){
            height: 515px;
        }
        @media (max-width: 575px){
            height: 125vw;
            border-radius: $radius;
        }
        .swiper-slide {
            overflow: hidden;
            padding: 2em;
            @include flex-center();
            flex-direction: column;
            opacity: 0 !important;
            transition: $transition;
            &-visible {opacity: 1 !important;}
            @media (max-width: 575px){
                padding: 1em;
                h4 {font-size: 1em;}
            }
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: $radius*2;
                flex: 1;
            }
        }
    }
}

.sec-5 {
    @media (max-width: 991px){
        border-bottom: 1px solid $gray-1;
    }
    .container {
        background-color: $gray-1;
        border-radius: $radius;
        padding: 2em 4em;
        position: relative;
        @media (max-width: 991px){
            background-color: transparent;
            border-radius: 0;
            padding: 0;
            text-align: center;
        }
    }
    .apps-links {
        justify-content: flex-start;
        margin-top: 2em;
        @media (max-width: 991px){
            justify-content: center;
            margin-bottom: 2em;
        }
    }
    .bg {
        position: absolute;
        right: 11%;
        bottom: 0px;
        max-height: 120%;
        @media (max-width: 1199px){
            max-height: 110%;
        }
        @media (max-width: 991px){
            position: unset;
            right: unset;
            bottom: unset;
            max-height: auto;
            max-width: 100%;
        }
    }
}

.sec-6 {
    .box {
        background-color: $color-3;
        padding: 1em 1.5em;
        border-radius: $radius;
    }
}
.services-grid {
    margin-top: 2em;
    a {
        display: flex;
        align-items: center;
        font-size: 1em;
        svg {
            font-size: 2em;
            margin-right: .5em;
        }
    }
}

.apps-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    @media (max-width: 1199px){
        justify-content: flex-start;
    }
    li {
        &:not(:first-child){
            margin-left: 1em;
            @media (max-width: 575px){
                margin-left: .25em;
            }
        }
        img {
            max-height: 50px;
            @media (max-width: 575px){
                max-height: 40px;
            }
        }
    }
}


/* Account */
.account-nav {
    ul {
        list-style: none;
        padding-left: 0px;
        li {
            margin-bottom: 1em;
            a {
                font-weight: 600;
                color: $gray-3;
                transition: $transition;
                &:hover, &:focus, &.active {
                    color: $gray-5;
                }
            }
        }
    }
}
.sw-mini {
    .swiper-button-prev {
        width: 2.5em;
        height: 2.5em;
        transform: translateY(-50%) translateX(-50%);
    }
    .swiper-button-next {
        width: 2.5em;
        height: 2.5em;
        transform: translateY(-50%) translateX(50%);
    }
    @media (max-width: 991px){
        padding-bottom: 1em;
    }
    @media (max-width: 767px){
        .btn-4 {width: 100%;}
    }
}
.form-about-info {
    background-color: $gray-1;
    @media (max-width: 575px){
        font-size: .9em;
    }
    fieldset {
        &:not(:last-child){
            border-bottom: 2px dashed $gray-2;
            padding-bottom: 2em;
            margin-bottom: 2em;
        }
        legend {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 1em;
            &.mini {
                font-size: 1.1em;
            }
        }
    }
}
.servises-list {
    list-style: none;
    padding-left: 0px;
    @media (max-width: 575px) {font-size: .9em;}
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            border-bottom: 2px dashed $gray-1;
            margin-bottom: 0.5em;
            padding-bottom: 0.5em;
        }
        button {
            padding: .75em 1em;
            @media (max-width: 575px) {
                font-size: .8em;
                padding: .75em;
            }
        }
    }
}
/* Account END */


footer {
    height: var(--f-height);
    background-color: $gray-5;
    color: $gray-2;
    font-size: .9em;
    a, button {
        color: $gray-2;
        transition: $transition;
        &:hover {
            color: $gray-1;
        }
    }
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        .menu {
            display: flex;
            @media (max-width: 767px){
                display: block;
            }
            ul {
                list-style: none;
                padding-left: 0px;
                &:not(:first-child){
                    margin-left: 3em;
                    @media (max-width: 767px){
                        margin-left: 0;
                        margin-top: .75em;
                    }
                }
                li:not(:first-child){
                    margin-top: .75em;
                }
            }
        }
        hr {
            background-color: $gray-2;
            height: 1px;
            width: 100%;
            margin: 1.5em 0px;
            border: none;
            opacity: 1;
        }
        .bottom {
            display: flex;
            align-items: center;
            &>*:not(:first-child) {margin-left: 1.5em;}
            @media (max-width: 991px){
                flex-direction: column;
                align-items: flex-start;
                &>*:not(:first-child) {
                    margin-top: 1em;
                    margin-left: 0em;
                }
            }
        }
    }
    &.mobile {
        position: fixed;
        z-index: 100;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: var(--m-footer);
        background-color: #fff;
        box-shadow: 0 3px 12px rgba(13, 35, 67, 0.2);
        nav {
            ul {
                @include flex-center();
                li {
                    width: 25%;
                    a, button {
                        width: 100%;
                        @include flex-center();
                        flex-direction: column;
                        color: $gray-3;
                        &.active {
                            color: $color-5;
                        }
                        svg {font-size: 1.75em;}
                        span {
                            font-size: .8em;
                            margin-top: .35em;
                        }
                    }
                }
            }
        }
    }
}

.offcanvas {
    &.offcanvas-top {
        height: fit-content;
        .offcanvas-body {
            padding: var(--h-height) 0 2em 0;
            .form-search-1 {
                input {
                    height: 4em;
                }
                button {
                    width: 4em;
                    svg {font-size: 1.75em;}
                }
            }

        }
    }
}