@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// "homepage": "https://ngf93.github.io/serve",

:root {
    --h-height: 80px;
    --f-height: 220px;
}

$main-font: "Noto Sans";
$color-1: #071540;
$color-2: #41A778;
$color-3: #84D9B1;
$color-4: #D9FAE6;
$gray-1: #F2F2F2;
$gray-2: #BFBFBF;
$gray-3: #737373;
$gray-4: #404040;
$gray-5: #0D0D0D;
$transition: .3s ease;
$radius: 2em;

/* mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
    line-height: 130%;
    margin-bottom: 0px;
}

/* Form elements */
input, textarea {
    background: #fff;
    border: none;
    border-radius: $radius;
    padding: 1.2em 1.5em;
    width: 100%;
    line-height: normal;
    outline: none;
    display: block;
    transition: $transition;
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: $gray-3;
        font-weight: 400;
    }
    &::placeholder {
        color: $gray-3;
        font-weight: 400;
    }
}

button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
}
.btn {
    @include flex-center;
    padding: 1.2em 1.5em;
    text-align: center;
    transition: $transition;
    width: fit-content;
    font-size: 1em;
    font-weight: 400;
    border-radius: $radius;
    &-1 {
        @extend .btn;
        color: #fff;
        background: $color-2;
        &:hover, &:focus, &:active {
            color: #fff;
            background: $color-1;
        }
    }
    &-2 {
        @extend .btn;
        color: $gray-5;
        background: #fff;
        &:hover, &:focus, &:active {
            color: $gray-5;
            background: $color-4;
        }
    }
}

.form-search-1 {
    position: relative;
    input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 2.4em;
        background-color: $gray-1;
    }
    button {
        position: absolute;
        z-index: 10;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 2.4em;
        color: $gray-3;
        border-radius: 50%;
        transition: $transition;
        &:hover, &:focus, &:active {
            color: $color-1;
        }
        svg {font-size: 1.25em;}
    }
}
.form-search-2 {
    position: relative;
    max-width: 500px;
    input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 4em;
    }
    button {
        position: absolute;
        z-index: 10;
        right: .5em;
        top: .5em;
        background-color: $color-2;
        color: #fff;
        border-radius: 50%;
        height: 3em;
        width: 3em;
        transition: $transition;
        svg {
            font-size: 2em;
        }
        &:hover, &:focus, &:active {
            background-color: $color-1;
        }
    }
}

/* Text styles */
h1 {
    text-align: left;
    font-size: 4em;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1em;
}
h2 {
    text-align: left;
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: .5em;
}
h3 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}
h4 {
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    color: $color-4;
    text-transform: uppercase;
    margin-bottom: 1em;
}
h5 {
    text-align: left;
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1em;
}
h6 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0px;
}

.fs {
    &-08 {font-size: 0.8em;}
    &-09 {font-size: 0.9em;}
    &-10 {font-size: 1em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}

.color-1 {color: $color-1;}
.color-2 {color: $color-2;}
.color-3 {color: $color-3;}
.gray-2 {color: $gray-2;}


body {
    margin: 0;
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: $gray-5;
    font-weight: 400;
    color: $gray-5;
    overflow-x: hidden;
    @media (max-width: 1399px){
        font-size: 15px;
    }
    @media (max-width: 1199px){
        font-size: 14px;
    }
}

header {
    height: var(--h-height);
    background-color: #fff;
    position: relative;
    z-index: 1100;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        nav.left {
            @include flex-center();
            .logo {
                display: block;
                width: 130px;
                height: 30px;
                object-fit: scale-down;
                line-height: 30px;
                margin-right: 1em;
                @media (max-width: 1399px){
                    width: 100px;
                }
            }
            form {
                display: flex;
                width: 250px;
            }
            ul {
                list-style: none;
                padding-left: 0px;
                @include flex-center();
                margin-left: 2em;
                li {
                    &:not(:first-child){margin-left: 1.25em;}
                    a {
                        font-size: 1em;
                        color: $gray-3;
                        transition: $transition;
                        &:hover, &:focus, &:active {
                            color: $gray-5;
                        }
                    }
                }
            }
            
        }
        nav.right {
            ul {
                list-style: none;
                padding-left: 0px;
                @include flex-center();
                li {
                    &:not(:first-child){margin-left: 1em;}
                    button, a {
                        font-size: 1.75em;
                        color: $gray-3;
                        transition: $transition;
                        &:hover, &:focus, &:active {
                            color: $gray-5;
                        }
                    }
                }
            }
        }
    }
}

main {
    min-height: calc(100vh - var(--h-height) - var(--f-height));
}

.main {
    background-image: url(imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 600px;
    @media (max-width: 1399px){
        height: 550px;
    }
    @media (max-width: 1199px){
        height: 500px;
    }
    .container {
        height: 100%;
        h1 {color: #fff;}
    }
}

.labor {
    border-radius: $radius;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    figcaption {
        position: absolute;
        z-index: 2;
        bottom: 1em;
        left: 1em;
        width: calc(100% - 2em);
    }
}


.sec-2 {
    .box {
        background-color: $color-4;
        border-radius: $radius;
        padding: 3em;
        height: 100%;
        @media (max-width: 1199px){
            padding: 2em;
        }
        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .svg-animation {
        border-radius: $radius;
        width: 100%; 
        height: 100%; 
        transform: translate3d(0px, 0px, 0px);
    }
}

.sec-3 {
    background-color: $color-4;
    position: relative;
    &::before, &::after {
        content: '';
        z-index: 10;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 15%;
    }
    &::before {
        top: 0px;
        background-image: linear-gradient(to bottom, rgba($color-4, .4), transparent);
    }
    &::after {
        bottom: 0px;
        background-image: linear-gradient(to top, rgba($color-4, .4), transparent);
    }
    .container {
        position: relative;
        z-index: 1;
    }
}
.slider-orders {
    height: 450px;
    .swiper-wrapper {
        transition-timing-function: linear !important;
      }
    .swiper-slide {
        height: fit-content;
        transition-timing-function: linear !important;
    }
}
.recent-orders {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25em;
    &-item {
        width: 25%;
        background-color: #fff;
        border-radius: $radius;
        height: 230px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        &:nth-child(even){
            transform: translateY(50%);
        }
        .icon {
            background-color: $color-3;
            font-size: 1.5em;
            height: 2em;
            width: 2em;
            @include flex-center();
            border-radius: 50%;
            margin-bottom: .5em;
        }
    }
}

.sec-4 {
    .thumbslides {
        .swiper-slide {
            display: flex;
            p {
                flex: 1;
                padding: .5em 1em;
                color: $gray-3;
                font-size: 1.25em;
            }
            .indicator {
                width: 3px;
                border-radius: 3px;
                background-color: $color-4;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 0%;
                    border-radius: 3px;
                    background-color: $color-3;
                }
            }
            &-thumb-active {
                p {color: $gray-5;}
                .indicator {
                    &::before {
                        height: 100%;
                        transition: 3s linear;
                    }
                }
            }
        }
    }
    .thumbs-main {
        img {
            width: 100%;
            border-radius: $radius*2;
            height: 500px;
            object-fit: cover;
        }
    }
}

.sec-5 {
    background-color: $gray-1;
    border-radius: $radius;
    padding: 2em 4em;
    position: relative;
    .apps-links {
        justify-content: flex-start;
        margin-top: 2em;
    }
    .bg {
        position: absolute;
        right: 11%;
        bottom: 0px;
    }
}

.sec-6 {
    .box {
        background-color: $color-4;
        padding: 1em 1.5em;
        border-radius: $radius;
    }
}
.services-grid {
    margin-top: 2em;
    a {
        display: flex;
        align-items: center;
        font-size: 1em;
        svg {
            font-size: 2em;
            margin-right: .5em;
        }
    }
}

.apps-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    li {
        &:not(:first-child){margin-left: 1em;}
        img {
            max-height: 50px;
        }
    }
}

footer {
    height: var(--f-height);
    background-color: $gray-5;
    color: $gray-2;
    a, button {
        color: $gray-2;
        transition: $transition;
        &:hover {
            color: $gray-1;
        }
    }
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        .menu {
            display: flex;
            ul {
                list-style: none;
                padding-left: 0px;
                &:not(:first-child){
                    margin-left: 3em;
                }
                li:not(:first-child){
                    margin-top: .75em;
                }
            }
        }
        hr {
            background-color: $gray-2;
            height: 1px;
            width: 100%;
            margin: 1.5em 0px;
            border: none;
            opacity: 1;
        }
        .bottom {
            display: flex;
            align-items: center;
            &>*:not(:first-child) {margin-left: 1.5em;}
        }
    }
}

.offcanvas {
    &-top {
        height: fit-content;
        .offcanvas-body {
            padding: var(--h-height) 0 2em 0;
            .form-search-1 {
                input {
                    height: 4em;
                }
                button {
                    width: 4em;
                    svg {font-size: 1.75em;}
                }
            }

        }
    }
}